.selectify {
  font-size: 16px;
  box-sizing: border-box;

  & > .selectify-trigger {
    background-color: #ebeff0;
    padding: 0 150px 0 20px;
    color: #425563;
    height: 50px;
    line-height: 50px;

    &::after {
      right: 16px;
      transition: transform .5s;
    }
  }

  & > .selectify-options {
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);

    & > .selectify-option {
      padding: 16px 20px;
      border-bottom: 1px solid #d9e1e2;
    }
  }

  &.open {
    & > .selectify-trigger {
      background-color: #768692;
      color: white;

      &::after {
        border-top-color: white;
        transform: translateY(-50%) rotateZ(180deg);
      }
    }

    & > .selectify-options {
      display: block;

      & > .selectify-option {
        &:hover,
        &:focus {
          background-color: #DBE1E2;
        }
      }
    }
  }
}